@charset "UTF-8";

/* 메인 */
body{position: relative;background: #000;color:#fff}
body::after{content: '';position: absolute;top: 0;left: 0;right: 0;width: 100%;height: 100%;background: url(../images/bg_footer.png) no-repeat bottom 268px center;background-size: 100%;z-index: -1;min-width: 1840px;}

.wrap{min-width: 1840px;max-width: 1920px;overflow: hidden;margin: 0 auto;padding-top: 100px;}

header{position: fixed;top:0;left:0;right:0;display: flex;align-items: center;height: 100px;padding:0 85px;background: #000;box-sizing: border-box;z-index: 10;}
header h1 { display: flex;align-items: center;justify-content: center;} 
header h1 a { display: block;width: 120px;height: 40px; background: url(../images/logo.png) no-repeat center; font-size: 0;background-size: 120px;} 
header .btn_menu{margin-left: auto;font-size: 0;display: inline-block;width: 40px;height: 40px;background: url(../images/btn_menu.png) no-repeat center;background-size: 40px;}
header .nav{display: flex;align-items: center;margin-left: auto;}
header .nav a{display: block;width: 155px;font-size: 24px;font-weight: 700;color:#fff;text-decoration: none;text-align: center;}
header .nav a:hover{text-decoration: underline;}

section{box-sizing: border-box;}
.sec_inner{position: relative;padding: 0 85px;}

.sec01{padding-bottom: 130px;background: url(../images/bg_sec01.webp) no-repeat top right;/*border-bottom: 2px solid #C7DA01;*/}
.sec01 .sec_inner{padding-top: 400px;}
.sec01 .img_sec01{margin-top: 30px;width: 362px;height: 107px;}
.sec01 .txt_main{font-size: 100px;font-weight: 900;line-height: 130px;}
.sec01 .txt_sub{margin-top: 90px;font-size: 32px;font-weight: 600;line-height: 60px;}

.sec02{padding-top: 176px;}
.sec02 h2{font-size: 64px;font-weight: 900;line-height: 110px;}
.sec02 h2 strong{color:#C7DA01;font-weight: 900;}
.sec02 .txt_sub{margin-top: 100px;font-size: 32px;font-weight: 600;line-height: 60px;}
.sec02 .grp_sec02{position: relative;margin-top: 54px;text-align: right;}
.sec02 .grp_sec02 .img_sec02-1{position: relative;margin-right: -70px;z-index: 1;}
.sec02 .sec_inner:first-child{z-index: 2;}
.sec02 .sec_inner + .sec_inner{margin-top: 380px;}
.sec02 .sec_inner + .sec_inner::before{content:'';position: absolute;top:-520px;right:150px;width: 1102px;height: 1022px;background: url(../images/bg_sec02.png) no-repeat top right;}
.sec02 .sec_inner + .sec_inner h2{line-height: 67px;}

.sec02 .box_ad{position: relative;margin-top: 130px;overflow: hidden;}
.sec02 .ad_sub{position: absolute;top:0;left:0;width: 400px;height: 611px;padding-top: 74px;border: 2px solid #C7DA01;text-align: center;box-sizing: border-box;z-index: 1;}
.sec02 .ad_sub::after{content:'';position: absolute;top:0;left:calc(100% + 1px);border-top:2px solid #C7DA01;width: 400px;transform: rotate(75deg);transform-origin: 0px;}
.sec02 .ad_sub.offline{left: auto;right: 0;}
.sec02 .ad_sub.offline::after{left:auto;right:calc(100% + 1px);transform: rotate(-75deg);transform-origin: 100%;}
.sec02 .ad_sub .tit{font-size: 40px;font-weight: 900;}
.sec02 .ad_sub ul{margin-top: 40px;}
.sec02 .ad_sub ul li{font-size: 28px;font-weight: 600;margin-bottom: 20px;}
.sec02 .ad_main{position: relative;margin: 300px auto 0;width: 1040px;height: 1080px;background: #C7DA01;z-index: 2;text-align: center;padding-top: 200px;box-sizing: border-box;}
.sec02 .ad_main::before{content: '';position: absolute;top: -20px;left: -20px;width: 616px;height: 182px;background: url(../images/img_sec02_tit.png) no-repeat center;}
.sec02 .ad_main .tit{font-size: 64px;font-weight: 900;color: #000;}
.sec02 .ad_main ul{margin-top: 52px;}
.sec02 .ad_main ul li{width: 762px;margin:0 auto 42px;border:2px solid #000;display: flex;align-items: center;justify-content: center;height: 71px;font-weight: 600;font-size: 32px;color:#000;transition: all 0.3s;}
.sec02 .ad_main ul li:hover{background: #000;color:#C7DA01}
.sec02 .grp_btn{padding: 0 85px;text-align: right;margin-top: 70px;}
.sec02 .btn_sec02{position: relative;font-size: 80px;font-weight: 900;background: transparent;color:#fff;padding-right: 76px;}
.sec02 .btn_sec02::before{content: '';position: absolute;left:-124px;top:-30px;width: 120px;height: 53px;background: url(../images/btn_arrow.png) no-repeat center;}
.sec02 .btn_sec02::after{content: '';position: absolute;right:0;top:-14px;width: 50px;height: 50px;border-radius: 50%;background: #C7DA01;}
.box_ani{width: 1900px;margin-top: 200px;animation: text_ani 6s linear infinite;display: flex;}
.txt_ani + .txt_ani{margin-left: 123px;}
.txt_ani{width: 1900px;font-size: 128px;font-weight: 900;-webkit-text-stroke: 3px #C7DA01;color:transparent;white-space: nowrap;}
@keyframes text_ani {
    to {
        transform: translate3d(-100%, 0, 0);
        /* filter: hue-rotate(0); */
    }
    from {
        transform: translate3d(0, 0, 0);
        /* filter: hue-rotate(360deg); */
    }
}

.sec03{position: relative;padding-top: 290px;}
.sec03::after{content: '';position: absolute;top:0;right: 212px;width: 485px;height: 526px;background: url(../images/bg_sec03.png) no-repeat center;}
.sec03 h2{position: relative;font-size: 75px;font-weight: 900;line-height: 67px;}
.sec03 h2::before{content: '';position: absolute;top:-30px;left: 179px;width: 33px;height: 38px;background: url(../images/ico_h2.png) no-repeat center;}
.sec03 h2 strong{color:#C7DA01;font-weight: 900;}
.sec03 ul{margin: 102px -85px 0;border-top: 2px solid #C7DA01;}
.sec03 ul li{display: flex;height: 650px;padding: 126px 220px 0;box-sizing: border-box;border-bottom: 2px solid #C7DA01;}
.sec03 ul li .tit{position: relative;width: 530px;flex:none;font-size: 48px;font-weight: 900;line-height: 70px;padding-left: 90px;box-sizing: border-box;}
.sec03 ul li .tit::before{content: '';position: absolute;left:0;top:10px;width: 50px;height: 50px;border-radius: 50%;background: #C7DA01;}
.sec03 ul li .txt{font-size: 24px;font-weight: 600;line-height: 40px;}
.sec03 ul li:nth-child(1){background: url(../images/bg_sec03_list01.webp) no-repeat left 296px bottom 10px;}
.sec03 ul li:nth-child(2){background: url(../images/bg_sec03_list02.png) no-repeat right 325px bottom -3px;}
.sec03 ul li:nth-child(3){background: url(../images/bg_sec03_list03.webp) no-repeat left 284px bottom -2px;}
.sec03 ul li:nth-child(4){background: url(../images/bg_sec03_list04.png) no-repeat left 427px bottom -17px;}


.sec04{position: relative;margin-top: 190px;}
.sec04 h2{position: relative;font-size: 64px;font-weight: 900;line-height: 67px;}
.sec04 h2 strong{color:#C7DA01;font-weight: 900;}
.sec04 ul{margin-top: 131px;display: grid;grid-template-columns: repeat(5, 1fr);gap:60px 10px}
.sec04 ul li{position: relative;overflow: hidden;padding-bottom: 10px;}
.sec04 ul li:before{position: absolute;top: 50%;left: 50%;z-index: 2;display: block;content: '';width: 0;height: 0;background: rgba(255,255,255,.2);border-radius: 100%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);opacity: 0;}
.sec04 ul li:hover::before {-webkit-animation: circle .75s;animation: circle .75s;}
.sec04 ul li p{font-size: 16px;font-weight: 600;margin-top: 10px;}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

.sec05{margin-top: 255px;padding-top: 173px;border-top: 2px solid #C7DA01;}
.sec05 h2{position: relative;font-size: 64px;font-weight: 900;line-height: 67px;}
.sec05 h2 strong{color:#C7DA01;font-weight: 900;}
.sec05 .box_system{width: 1029px;height: 685px;padding: 41px 51px;margin: 111px auto 0;background: url(../images/bg_sec05.png) no-repeat center;box-sizing: border-box;}

.sec06 {position: relative;margin-top: 228px;padding-top: 90px;border-top:2px solid #C7DA01;z-index: 1;}
.sec06 .txt_ani span{display: inline-block;vertical-align: top;margin: 10px;}
.sec06 .txt_ani span::before{content: '';display: inline-block;top:-30px;width: 120px;height: 53px;background: url(../images/btn_arrow.png) no-repeat center;}
.sec06 .grp_img{margin-top: 15px;text-align: right;}
.sec06 .box_form{margin-top: 232px;text-align: center;}
.sec06 .box_form h2{font-size: 100px;font-weight: 900;line-height: 120px;}
.sec06 .box_form .sub_tit{font-size: 32px;font-weight: 500;margin-top: 30px;}
.sec06 .box_form ul{width: 520px;margin: 112px auto 0;}
.sec06 .box_form ul li{display: flex;align-items: center;}
.sec06 .box_form ul li + li{margin-top: 31px;}
.sec06 .box_form ul li .tit{width: 136px;flex:none;text-align: left;font-size: 24px;font-weight: 500;}
.sec06 .box_form ul li select,
.sec06 .box_form ul li input,
.sec06 .box_form ul li textarea{width: 100%;background: #C7DA01;padding:0 19px;box-sizing: border-box;font-size: 24px;font-weight: 500;color:#000;}
.sec06 .box_form ul li select{height: 70px;appearance: none;background:#C7DA01 url(../images/ico_select.png) no-repeat center right 19px;}
.sec06 .box_form ul li input{height: 70px;}
.sec06 .box_form ul li textarea{padding: 19px;resize: none;}
.sec06 .box_form ul li:last-child{justify-content: center;}
.sec06 .box_form .grp_check{padding-left: 136px;}
.sec06 .box_form .grp_check input[type="checkbox"] { display: none; } 
.sec06 .box_form .grp_check label { position: relative; display:inline-flex; align-items: center; /*padding-left: 25px;*/ font-size: 18px; color:#fff; cursor: pointer;} 
.sec06 .box_form .grp_check label:before { content:''; flex:none; display: inline-block;margin-right: 15px; width:34px; height: 34px; border:1px solid #ccc; border-radius: 9px; box-sizing: border-box; background: #F3F4F6; } 
.sec06 .box_form .grp_check label:after { content: ''; position: absolute; left: 8px; top: 50%;margin-top: -8px; width: 16px; height: 8px; border: 3px solid #DEE2E6; border-width: 0 0 4px 4px; transform: rotate(-45deg); } 
.sec06 .box_form .grp_check label a{font-size: 16px;font-weight: 700;color:#ADB5BD;margin-left: 10px;}
.sec06 .box_form .grp_check input[type="checkbox"]:checked + label:before{background: #C7DA01;border-color: #C7DA01;}
/* .sec06 .box_form .grp_check input[type="checkbox"]:checked + label:after{border-color: #C7DA01;} */
.sec06 .btn_sec06{margin: 74px 0 0 136px;position: relative;font-size: 80px;font-weight: 900;background: transparent;color:#fff;padding-right: 76px;}
.sec06 .btn_sec06::after{content: '';position: absolute;right:0;top:-14px;width: 50px;height: 50px;border-radius: 50%;background: #C7DA01;}

footer{position: relative;margin-top: -200px;padding: 1000px 85px 82px;box-sizing: border-box;min-width: 1840px;}
footer .footer_inner{max-width: 1920px;margin: 0 auto;}
footer h2{display: block;width: 159px;height: 47px;background: url(../images/logo_footer.png) no-repeat center;}
footer .grp_footer{display: flex;align-items: flex-start;margin-top: 36px;}
footer .grp_footer .left p{font-weight: 500;font-size: 20px;line-height: 40px;}
footer .grp_footer .right{margin-left: auto;display: inline-flex;align-items: center;gap: 50px;}
footer .grp_footer .right a{font-weight: 600;font-size: 20px;color:#fff;text-decoration: none;}
footer .txt_sub{margin-top: 60px;;font-weight: 500;font-size: 14px;line-height: 30px;color:#8C8C8C}
footer .txt_sub .gap{margin-left: 30px;}
footer .grp_copy{display: flex;align-items: center;margin-top: 30px;}
footer .grp_copy .left{font-size: 20px;color:#fff;font-weight: 500;}
footer .grp_copy .left a{color:#fff;font-size: 20px;font-weight: 500;margin-left: 10px;}
footer .grp_copy .right{margin-left: auto;font-weight: 600;font-size: 14px;color:#8C8C8C}


.popup { display: none; width: 540px; position: fixed; left: 50%; top: 50%; background: #fff; z-index: 10001;box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.1); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); border-radius: 10px; overflow: hidden; } 
.popup .pop_header { position: relative; padding:30px 20px 0;box-sizing: border-box;flex:none} 
.popup .pop_header h2 { color: #212529; font-size: 18px; text-align: center;font-weight: 700;line-height: 140%;padding-bottom: 15px;border-bottom: 1px solid #E9ECEF;} 
.popup .pop_cont { overflow: auto; padding: 15px 30px 30px; box-sizing: border-box; font-size: 16px;line-height: 24px;flex:1;overflow: auto;} 
.popup .pop_cont .txt{color:#000;font-size: 15px;}
.popup .pop_footer { height: 64px; padding:0; box-sizing: border-box; display: flex; align-items: center;justify-content: center;flex:none} 
.popup .pop_footer > button {flex:1;height: 64px;border-radius: 0;font-size: 18px;font-weight: 700;background: #C7DA01;}
.dim { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 2000; background: rgba(0, 0, 0, 0.5); } 
.popup.on { display: flex;flex-direction: column;max-height: 88vh;} 
.popup.on ~ .dim { display: flex;flex-direction: column;} 



/* sub */
.lime{background-color: #C7DA01;color:#000}
.lime::after{display: none;}
.lime header{background-color: #C7DA01;}
.lime header h1 a{background: url(../images/logo_b.png) no-repeat center;}
.lime header .nav a{color:#000}
.lime footer{margin-top: 0px;padding: 145px 85px;}
.lime footer h2{background: url(../images/logo_footer_b.png) no-repeat center;}
.lime footer .txt_sub,
.lime footer .grp_copy .left,
.lime footer .grp_copy .left a,
.lime footer .grp_copy .right,
.lime footer .grp_footer .right a{color: #000;}

footer.black{margin-top: 0px;padding: 145px 85px;background: #000;color:#fff}
footer.black h2{background: url(../images/logo_footer.png) no-repeat center;}
footer.black .txt_sub,
footer.black .grp_copy .left,
footer.black .grp_copy .left a,
footer.black .grp_copy .right,
footer.black .grp_footer .right a{color: #fff;}

section[class*="sub_sec"] h2{font-size: 64px;font-weight: 900;line-height: 81px;}

/* sub01 */
.sub01 .sub_sec01{padding: 500px 0 0;background: url(../images/sub01_bg_sec01.png) top 100px right -5px no-repeat;background-size: 1520px;}
.sub01 .sub_sec01 .txt_sub{font-size: 64px;font-weight: 900;line-height: 130%;color:#fff}
.sub01 .sub_sec01 .txt_main{font-size: 100px;font-weight: 900;line-height: 130%;}
.sub01 .sub_sec01 .grp_tablet{width: 1275px;height: 779px;display: flex;align-items: center;justify-content: center;margin: 400px auto 0;flex-direction: column;background: url(../images/sub01_bg_sec01_2.png) no-repeat center;}
.sub01 .sub_sec01 .grp_tablet .tit{font-weight: 900;font-size: 64px;line-height: 110px;color:#fff;margin-bottom: 40px;}
.sub01 .sub_sec01 .grp_tablet .txt{font-weight: 800;font-size: 32px;line-height: 60px;text-align: center;color:#fff}

.sub01 .sub_sec02{margin-top: 343px;}
.sub01 .sub_sec02 .mySwiper01{margin-top: 130px;height: 555px;}
.sub01 .sub_sec02 .mySwiper01 .swiper-slide img{width: 100%;}
.sub01 .sub_sec02 .mySwiper01 .swiper-slide p{position: absolute;width: 100%;bottom: 37px;font-size: 38px;font-weight: 700;line-height: 60px;text-align: center;letter-spacing: -1px;}
.sub01 .sub_sec02 .mySwiper01 .swiper-slide p span{color:#C7DA01}
.sub01 .sub_sec02 .swiper-pagination01{margin-top: 49px;text-align: center;}
.sub01 .swiper-pagination-bullet{width: 20px;height: 20px;margin: 0 8px !important;background: #b3b3b3;opacity: 1;}
.sub01 .swiper-pagination-bullet.swiper-pagination-bullet-active{background: #000;}

.sub01 .sub_sec03{margin-top: 248px;}
.sub01 .sub_sec03 .box_form{margin-top: 232px;text-align: center;}
.sub01 .sub_sec03 .box_form h2{font-size: 100px;font-weight: 900;line-height: 120px;}
.sub01 .sub_sec03 .box_form .grp_btn{margin-top: 63px;display: flex;align-items: center;justify-content: center;}
.sub01 .sub_sec03 .box_form .grp_btn button{display: inline-flex;align-items: center;justify-content: center;height: 155px;width: 600px;border:1px solid #000;background: #C7DA01;font-size: 36px;font-weight: 900;line-height: 120px;}
.sub01 .sub_sec03 .box_form .grp_btn button:before{content: '';display: inline-block;width: 31px;height: 45px;background: url(../images/sub01_ico_sec03_call.png) no-repeat center;margin-right: 14px;}
.sub01 .sub_sec03 .box_form .grp_btn button+button{margin-left: 73px;}
.sub01 .sub_sec03 .box_form .grp_btn button+button:before{content: '';display: inline-block;width: 51px;height: 47px;background: url(../images/sub01_ico_sec03_kakao.png) no-repeat center;margin-right: 14px;}
.sub01 .sub_sec03 .box_form ul{width: 1000px;margin: 112px auto 0;}
.sub01 .sub_sec03 .box_form ul li{display: flex;align-items: center;}
.sub01 .sub_sec03 .box_form ul li + li{margin-top: 31px;}
.sub01 .sub_sec03 .box_form ul li .tit{width: 170px;flex:none;text-align: left;font-size: 24px;font-weight: 500;}
.sub01 .sub_sec03 .box_form ul li select,
.sub01 .sub_sec03 .box_form ul li input,
.sub01 .sub_sec03 .box_form ul li textarea{width: 100%;background: #fff;padding:0 19px;box-sizing: border-box;font-size: 24px;font-weight: 500;color:#000;}
.sub01 .sub_sec03 .box_form ul li select{height: 70px;appearance: none;background:#fff url(../images/ico_select.png) no-repeat center right 19px;}
.sub01 .sub_sec03 .box_form ul li input{height: 70px;}
.sub01 .sub_sec03 .box_form ul li textarea{padding: 19px;resize: none;}
.sub01 .sub_sec03 .box_form ul li:last-child{justify-content: center;}
.sub01 .sub_sec03 .box_form .grp_check{padding-left: 136px;}
.sub01 .sub_sec03 .box_form .grp_check input[type="checkbox"] { display: none; } 
.sub01 .sub_sec03 .box_form .grp_check label { position: relative; display:inline-flex; align-items: center; /*padding-left: 25px;*/ font-size: 24px;font-weight: 700;; color:#000; cursor: pointer;} 
.sub01 .sub_sec03 .box_form .grp_check label:before { content:''; flex:none; display: inline-block;margin-right: 15px; width:44px; height: 44px; border:1px solid #ccc; border-radius: 9px; box-sizing: border-box; background: #F3F4F6; } 
.sub01 .sub_sec03 .box_form .grp_check label:after { content: ''; position: absolute; left: 12px; top: 50%;margin-top: -10px; width: 19px; height: 8px; border: 3px solid #bbb; border-width: 0 0 4px 4px; transform: rotate(-45deg); } 
.sub01 .sub_sec03 .box_form .grp_check label a{font-size: 16px;font-weight: 700;color:#000;margin-left: 10px;}
.sub01 .sub_sec03 .box_form .grp_check input[type="checkbox"]:checked + label:before{background: #000;border-color: #000;}
.sub01 .sub_sec03 .box_form .grp_check input[type="checkbox"]:checked + label:after{border-color: #fff;}
.sub01 .sub_sec03 .btn_sec03{margin: 74px 0 0 136px;position: relative;font-size: 80px;font-weight: 900;background: transparent;color:#000;padding-right: 76px;}
.sub01 .sub_sec03 .btn_sec03::after{content: '';position: absolute;right:0;top:-14px;width: 50px;height: 50px;border-radius: 50%;background: #000;}

.sub01 .sub_sec04{margin-top: 225px;}
.sub01 .sub_sec04 ul li{padding: 240px 130px 60px;height: 600px;border-bottom: 2px solid #000;box-sizing: border-box;}
.sub01 .sub_sec04 ul li p{font-size: 30px;font-weight: 600;line-height: 60px;letter-spacing: -1px;}
.sub01 .sub_sec04 ul li p.tit{font-size: 40px;margin-bottom: 70px;}
.sub01 .sub_sec04 ul li:nth-child(1){padding-left: 515px;padding-right: 0;background: url(../images/sub01_bg_sec04_1.png) no-repeat left bottom -2px;}
.sub01 .sub_sec04 ul li:nth-child(2){background: url(../images/sub01_bg_sec04_2.png) no-repeat right bottom -2px;}

.sub01 .sub_sec05{margin-top: 324px;}
.sub01 .sub_sec05 .box_system{width: 1029px;height: 685px;padding: 41px 51px;margin: 111px auto 0;background: url(../images/bg_sec05.png) no-repeat center;box-sizing: border-box;}

.sub01 .sub_sec06{margin-top: 324px;background: #000;color:#C7DA01;padding: 242px 0 142px;border-bottom: 2px solid #C7DA01;}
.sub01 .sub_sec06 ul{margin-top: 250px;display: flex;align-items: center;justify-content: center;}
.sub01 .sub_sec06 ul li{flex:1;text-align: center;padding-top: 200px;font-size: 40px;font-weight: 700;}
.sub01 .sub_sec06 ul li:nth-child(1){background: url(../images/sub01_img_sec06_1.png) no-repeat top 30px center;}
.sub01 .sub_sec06 ul li:nth-child(2){background: url(../images/sub01_img_sec06_2.png) no-repeat top center;}
.sub01 .sub_sec06 ul li:nth-child(3){background: url(../images/sub01_img_sec06_3.png) no-repeat top 30px center;}
.sub01 .sub_sec06 ul li:nth-child(4){background: url(../images/sub01_img_sec06_4.png) no-repeat top center;}

.sub01 .sub_sec07 {padding-top: 215px;background: #000;color:#C7DA01;}
.sub01 .sub_sec07 img{display: block;margin: 35px auto 0;}

.sub01 .sub_sec08{padding: 100px 0 320px;background: #000;color:#C7DA01;}
.sub01 .sub_sec08 .mySwiper02{height: 502px;margin-top:  60px;}
.sub01 .sub_sec08 .mySwiper02 .swiper-slide img{width: 100%;}
.sub01 .sub_sec08 .swiper-pagination02{margin-top: 40px;text-align: center;}
.sub01 .sub_sec08 .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color: #C7DA01;}

.lime.type2 {background:#C7DA01 url(../images/sub02_bg_sec01.png)no-repeat top center;background-size: contain;}
.lime.type2 header{background-color: transparent;transition: all 0.3s;}
.lime.type2 header.change{background-color: #C7DA01;}
.lime.type2 header h1 a{background: url(../images/logo.png) no-repeat center;}
.lime.type2 header .nav a{color:#fff}
.lime.type2 header.change h1 a{background: url(../images/logo_b.png) no-repeat center;}
.lime.type2 header.change .nav a{color:#000}

.sub02 .sub_sec01{padding: 130px 0 208px;color:#fff;border-bottom: 5px solid #000;}
.sub02 .sub_sec01 .txt_main{font-size: 70px;font-weight: 900;}
.sub02 .sub_sec01 .txt_sub{font-size: 48px;font-weight: 600;line-height: 50px;margin: 50px 0 250px;}
.sub02 .sub_sec01 .txt_sub + p{font-size: 32px;font-weight: 500;line-height: 60px;}
.sub02 .sub_sec01 .sec_inner+.sec_inner{max-width: 1880px;margin-top: 354px;;border-top: 5px solid #000;padding-top: 113px;box-sizing: border-box;}
.sub02 .sub_sec01 .sec_inner+.sec_inner::before{content: '';position: absolute;top:-250px;right:-150px;width: 1920px;height: 900px;background: url(../images/sub02_img_sec01.png) no-repeat center;background-size: contain;}
.sub02 .sub_sec01 .sec_inner+.sec_inner p{font-size: 32px;font-weight: 500;line-height: 60px;color:#000}
.sub02 .sub_sec01 .sec_inner+.sec_inner p + p{margin-top: 500px;text-align: center;}
.sub02 .sub_sec01 .sec_inner+.sec_inner img{display: block;margin: 189px auto 0;}
.sub02 .sub_sec01 .sec_inner+.sec_inner img + p{margin-top: 50px;font-size: 60px;font-weight: 900;line-height: 130px;text-align: center;}

.sub02 .sub_sec02{padding: 120px 0 167px;border-bottom: 5px solid #000;}
.sub02 .mySwiper03{width: 1275px;height: 702px;margin: 177px auto 0;border:1px solid #000;border-radius: 30px;}
.sub02 .mySwiper03 .swiper-slide{display: flex;align-items: center;justify-content: center;flex-direction: column;}
.sub02 .mySwiper03 .swiper-slide p{font-size: 32px;font-weight: 500;line-height: 60px;margin-bottom: 45px;}
.sub02 .mySwiper03 .swiper-slide img{margin-bottom: 45px;}
.sub02 .mySwiper03 .swiper-slide .tit{font-size: 48px;font-weight: 900;}
.sub02 .mySwiper03 .swiper-pagination03{position: absolute;bottom: 45px;text-align: center;}
.sub02 .swiper-pagination-bullet{width: 20px;height: 20px;margin: 0 8px !important;background: #b3b3b3;opacity: 1;}
.sub02 .swiper-pagination-bullet.swiper-pagination-bullet-active{background: #000;}

.sub02 .sub_sec03{padding: 120px 0 207px;border-bottom: 5px solid #000;background: url(../images/sub02_bg_sec03.png) no-repeat right 85px bottom 90px;}
.sub02 .sub_sec03 p{font-size: 32px;font-weight: 500;line-height: 60px;margin-bottom: 45px;}
.sub02 .sub_sec03 .txt_main{font-size: 48px;font-weight: 900;margin-top: 519px;}

.sub02 .sub_sec04{padding: 120px 0 0;}
.sub02 .sub_sec04 .txt_main{font-size: 48px;font-weight: 800;margin-top: 147px;line-height: 70px;text-align: center;}
.sub02 .sub_sec04 ul{margin-top: 200px;}
.sub02 .sub_sec04 ul li{height: 700px;padding:170px 300px 0;border-bottom:2px solid #000;box-sizing: border-box;}
.sub02 .sub_sec04 ul li p{font-size: 40px;font-weight: 700;line-height: 60px;}
.sub02 .sub_sec04 ul li .tit{font-size: 128px;font-weight: 900;line-height: 70px;margin-bottom: 60px;}
.sub02 .sub_sec04 ul li:nth-child(1){background: url(../images/sub02_img_sec04_1.png) no-repeat right 85px bottom -2px;}
.sub02 .sub_sec04 ul li:nth-child(2){background: url(../images/sub02_img_sec04_2.png) no-repeat right 85px bottom -2px;}
.sub02 .sub_sec04 ul li:nth-child(3){background: url(../images/sub02_img_sec04_3.png) no-repeat right 85px bottom -2px;}
.sub02 .sub_sec04 ul li:nth-child(4){background: url(../images/sub02_img_sec04_4.png) no-repeat right 85px bottom -2px;}

/* sub03 */
.sub03 .sec06{margin-top: 0;border-top: 0;}
.sub03 .sec06 .box_ani{margin-top: 50px;}
.sub03 .sec06 .box_map{display: flex;background-color: #C7DA01;margin-top: 120px;}
.sub03 .sec06 .box_map .left{flex:1;padding:60px 70px 0;color: #000;}
.sub03 .sec06 .box_map .left h2{font-size: 70px;font-weight: 900;color: #000;margin-bottom: 70px}
.sub03 .sec06 .box_map .left ul li{margin-bottom: 34px;padding-left: 67px;}
.sub03 .sec06 .box_map .left ul li .tit{font-size: 32px;font-weight: 900;margin-bottom: 13px;}
.sub03 .sec06 .box_map .left ul li .txt{font-size: 24px;font-weight: 500;}
.sub03 .sec06 .box_map .left ul li .txt + .txt{margin-top: 22px;}
.sub03 .sec06 .box_map .left ul li:nth-child(1){background: url(../images/sub03_ico_map01.png) top left no-repeat}
.sub03 .sec06 .box_map .left ul li:nth-child(2){background: url(../images/sub03_ico_map02.png) top 48px left no-repeat, url(../images/sub03_ico_map03.png) top 112px left no-repeat;}
.sub03 .sec06 .box_map .left ul li:nth-child(3){background: url(../images/sub03_ico_map04.png) top left no-repeat}
.sub03 .sec06 .box_map .left ul li:nth-child(4){background: url(../images/sub03_ico_map05.png) top left no-repeat}
.sub03 .sec06 .box_map .grp_map{flex: none;}





/* mobile */
.mob.wrap{max-width: 500px;min-width:374px;padding-top: 60px;}

.mob header{height: 60px;padding: 0 20px;}
.mob header h1 a{width: 92px;height: 30px;background-size: contain;}
.mob header .btn_menu{width: 30px;height: 30px;background-size: contain;}

.mob .sec_inner{padding: 0 20px;}

.mob .sec01{padding-bottom: 450px;border-bottom: 2px solid #C7DA01;}
.mob .sec01 .sec_inner{padding-top: 50px;}
.mob .sec01 .txt_main{font-size: 36px;line-height: 45px;}
.mob .sec01 .img_sec01{margin-top: 15px;width: 149px;height: 44px;}
.mob .sec01 .txt_sub{margin-top: 34px;font-size: 16px;line-height: 20px;}
.mob .sec01{background: url(../images/bg_sec01.webp) no-repeat bottom center;background-size: 444px;}

.mob .sec02{padding-top: 71px;}
.mob .sec02 h2{font-size: 24px;line-height: inherit;}
.mob .sec02 .txt_sub{margin-top: 40px;font-size: 16px;line-height: 20px;}
.mob .sec02 .grp_sec02{text-align: center;margin:55px -20px 0; }
.mob .sec02 .grp_sec02 .img_sec02-1{margin: 0 auto;width: 295px;}
.mob .sec02 .grp_sec02 .img_sec02-2{margin-top:50px;width: 100%;}
.mob .sec02 .sec_inner + .sec_inner{margin-top: 80px;}
.mob .sec02 .sec_inner + .sec_inner::before{top:-50px;right:-80px;width: 374px;background-size: contain;z-index: -1;}
.mob .sec02 .sec_inner + .sec_inner h2{font-size: 24px;line-height: 30px;}
.mob .sec02 .sec_inner + .sec_inner .txt_sub{margin-top: 29px;font-size: 18px;}
.mob .sec02 .box_ad{margin-top: 70px;overflow: visible;}
.mob .sec02 .ad_sub{width: 162px;height: 248px;padding-top: 30px;background: #000;}
.mob .sec02 .ad_sub .tit{font-size: 16px;}
.mob .sec02 .ad_sub ul{margin-top: 14px;}
.mob .sec02 .ad_sub ul li{font-size: 14px;margin-bottom: 8px;}
.mob .sec02 .ad_sub::after{width: 91px;height: 247px;background: url(../images/mo_bg_sec02_ad.svg) no-repeat center;transform: rotate(0);border: 0;top:-1px;}
.mob .sec02 .ad_sub.offline{top:140px}
.mob .sec02 .ad_sub.offline::after{transform: scaleX(-1);right: calc(100% + 92px);}
.mob .sec02 .ad_main{margin: 0 -20px 0;width: calc(100% + 40px);height: 430px;;top: 386px;padding-top: 68px;}
.mob .sec02 .ad_main::before{top:-8px;left: 20px;width: 245px;height: 72px;background-size: contain;}
.mob .sec02 .ad_main .tit{font-size: 24px;margin-top: 16px;}
.mob .sec02 .ad_main ul{margin-top: 17px;padding: 0 20px;}
.mob .sec02 .ad_main ul li{width: 100%;margin-bottom: 17px;height: 28px;font-size: 14px;}
.mob .sec02 .box_ani{margin-top: 440px;}
.mob .box_ani{width: 700px;animation: text_ani 3s linear infinite;margin-top: 0;}
.mob .txt_ani{width: auto;font-size: 48px;-webkit-text-stroke: 2px #C7DA01;}
.mob .txt_ani +.txt_ani{margin-left: 36px;}
.mob .sec02 .grp_btn{padding: 0 20px;margin-top: 20px;}
.mob .sec02 .btn_sec02{font-size: 40px;padding-right: 30px;}
.mob .sec02 .btn_sec02::before{width: 51px;height: 22px;background-size: contain;left:-55px;top:0px}
.mob .sec02 .btn_sec02::after{width: 20px;height: 20px;top:-5px}

.mob .sec03{padding-top: 110px;}
.mob .sec03::after{top:88px;right:0;width: 144px;height: 157px;background-size: contain;}
.mob .sec03 h2{font-size: 24px;line-height: inherit;}
.mob .sec03 h2::before{width: 12px;height: 14px;top:-7px;left:56px;background-size: contain;}
.mob .sec03 ul{margin: 51px -20px 0;}
.mob .sec03 ul li{display: block;height: auto;padding: 40px 20px 226px;}
.mob .sec03 ul li .tit{width: auto;font-size: 20px;line-height: 35px;display: flex;flex-direction: column;padding: 0;}
.mob .sec03 ul li .tit::before{width: 13px;height: 13px;position: static;margin-bottom: 30px;}
.mob .sec03 ul li .tit br,
.mob .sec03 ul li .txt br{display: none;}
.mob .sec03 ul li .txt{margin-top: 51px;font-size: 14px;line-height: 25px;letter-spacing: -1px;}
.mob .sec03 ul li:nth-child(1){background: url(../images/mo_bg_sec03_list01.webp) no-repeat center bottom ;background-size: 344px;}
.mob .sec03 ul li:nth-child(2){background: url(../images/mo_bg_sec03_list02.svg) no-repeat center bottom ;}
.mob .sec03 ul li:nth-child(3){background: url(../images/mo_bg_sec03_list03.webp) no-repeat center bottom ;background-size: 344px;}
.mob .sec03 ul li:nth-child(4){background: url(../images/mo_bg_sec03_list04.svg) no-repeat right 20px bottom -8px;}

.mob .sec04{margin-top: 63px;}
.mob .sec04 h2{font-size: 24px;line-height: inherit;}
.mob .sec04 ul{margin-top: 63px;grid-template-columns: repeat(3, 1fr);gap: 13px 5px;}
.mob .sec04 ul li{padding-bottom: 5px;}
.mob .sec04 ul li img{width: 100%;}
.mob .sec04 ul li p{font-size: 10px;margin-top: 5px;}

.mob .sec05{margin-top: 63px;padding-top: 63px;}
.mob .sec05 h2{font-size: 24px;line-height: inherit;}
.mob .sec05 .box_system{width: 334px;height: 222px;padding: 13px 17px;margin-top: 44px;background: url(../images/mo_bg_sec05.png) no-repeat center;}

.mob .sec06{margin-top: 81px;}
.mob .sec06 .grp_img{margin-top: 10px;}
.mob .sec06 .grp_img img{width: 200px;height: 60px;background-size: contain;}
.mob .sec06 .box_ani{width: 710px;animation: text_ani 3s linear infinite;}
.mob .sec06 .txt_ani{width: auto;}
.mob .sec06 .txt_ani span::before{width: 45px;height: 21px;background-size: contain;}
.mob .sec06 .box_form{margin-top: 132px;}
.mob .sec06 .box_form h2{font-size: 32px;line-height: inherit;}
.mob .sec06 .box_form .sub_tit{margin-top: 20px;font-size: 14px;}
.mob .sec06 .box_form ul{margin-top: 51px;width: 100%;}
.mob .sec06 .box_form ul li{flex-direction: column;align-items: flex-start;}
.mob .sec06 .box_form ul li .tit{width: auto;font-size: 14px;margin-bottom: 10px;}
.mob .sec06 .box_form ul li + li{margin-top: 20px;}
.mob .sec06 .box_form ul li select,
.mob .sec06 .box_form ul li input,
.mob .sec06 .box_form ul li textarea{padding: 0 10px;font-size: 14px; -webkit-appearance: none;appearance: none;}
.mob .sec06 .box_form ul li select{height: 55px;background-size: 12px;}
.mob .sec06 .box_form ul li input{height: 55px;}
.mob .sec06 .box_form ul li textarea{padding: 10px;}
.mob .sec06 .box_form ul li:last-child{align-items: center;}
.mob .sec06 .box_form .grp_check{padding-left: 0;}
.mob .sec06 .box_form .grp_check label:before{width: 24px;height: 24px;border-radius: 4px;}
.mob .sec06 .box_form .grp_check label:after{left: 3px;margin-top: -7px;width: 14px;height: 6px;}
.mob .sec06 .box_form .grp_check label{font-size: 14px;}
.mob .sec06 .box_form .grp_check label a{font-size: 12px;}
.mob .sec06 .btn_sec06{margin: 38px auto 0;font-size: 40px;padding-right: 28px;}
.mob .sec06 .btn_sec06::after{width: 20px;height: 20px;top:-7px}

.mob footer{margin-top: 0;padding: 180px 20px 20px;background-size: 100%;}
.mob footer h2{width: 82px;height: 27px;background-size: contain;}
.mob footer .grp_footer{margin-top: 20px;flex-direction: column;}
.mob footer .grp_footer .left p{font-size: 12px;line-height: 20px;}
.mob footer .grp_footer .right{gap: 0;margin: 50px auto 0;width: 100%;}
.mob footer .grp_footer .right a{font-size: 11px;}
.mob footer .txt_sub{font-size: 12px;line-height: 20px;letter-spacing: -1px;margin-top: 20px;}
.mob footer .txt_sub .gap{margin-left: 15px;}
.mob footer .grp_copy{flex-direction: column;align-items: flex-start;}
.mob footer .grp_copy .left{font-size: 11px;margin-bottom: 5px;}
.mob footer .grp_copy .left a{font-size: 11px;}
.mob footer .grp_copy .right{font-size: 10px;font-weight: 400;margin-left: 0;}

/* mob sub01 */
body:has(.mob)::after{min-width: auto;}

.lime .mob header h1 a{background: url(../images/logo.png) no-repeat center;background-size: contain;}
.lime .mob footer{padding-top: 80px;}

.mob.wrap{max-width: 694px;letter-spacing: -1px;}
.mob.wrap .nav{position: absolute;top: 50px;right: 20px;width: 174px;flex-direction: column;background: #C7DA01;box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.25);display: none;}
.mob.wrap .nav.show{display: flex;}
.mob.wrap .nav a{width: 100%;height: 40px;display: flex;align-items: center;justify-content: center;font-size: 16px;}
.mob.wrap .nav ul{width: 100%;}
.mob.wrap .nav ul li ul li{background: #A9BA00;}
.mob.wrap .nav ul li ul li a{font-size: 13px;}
.mob footer{min-width: 0;}
.mob footer .grp_footer .right a+a{margin-left: 20px;}
.mob.wrap h2{font-size: 24px;line-height: 30px;}

.mob.sub01 .sub_sec01{padding: 123px 0 0;background: url(../images/sub01_bg_sec01.png) top 360px center no-repeat;background-size: 694px;}
.mob.sub01 .sub_sec01 .txt_sub{font-size: 36px;line-height: 45px;}
.mob.sub01 .sub_sec01 .txt_main{font-size: 48px;line-height: 56px;margin-top: 21px;}
.mob.sub01 .sub_sec01 .grp_tablet{width: calc(100% + 40px);height: 381px;background-size: cover;margin: 600px -20px 0;}
.mob.sub01 .sub_sec01 .grp_tablet .tit{font-size: 32px;line-height: 110px;}
.mob.sub01 .sub_sec01 .grp_tablet .txt{font-size: 18px;line-height: 30px;font-weight: 600;margin-bottom: 30px;}

.mob.sub01 .sub_sec02{margin-top: 68px;}
.mob.sub01 .sub_sec02 .sec_inner{margin: 0 -20px;}
.mob.sub01 .sub_sec02 h2{padding: 0 20px;}
.mob.sub01 .sub_sec02 .mySwiper01{padding: 0 20px;margin-top: 44px;height: auto;}
.mob.sub01 .sub_sec02 .swiper-wrapper{height: auto;}
.mob.sub01 .sub_sec02 .mySwiper01 .swiper-slide p{font-size: 16px;bottom: 0px;}

.mob.sub01 .sub_sec03{margin-top: 114px;}
.mob.sub01 .sub_sec03 .box_form{margin-top: 0;}
.mob.sub01 .sub_sec03 .box_form h2{font-size: 32px;line-height: 39px;}
.mob.sub01 .sub_sec03 .box_form .grp_btn{flex-direction: column}
.mob.sub01 .sub_sec03 .box_form .grp_btn button{width: 100%;height: 85px;font-size: 20px;}
.mob.sub01 .sub_sec03 .box_form .grp_btn button::before{width: 18px;height: 25px;background-size: contain;}
.mob.sub01 .sub_sec03 .box_form .grp_btn button+button{margin: 20px 0 0;}
.mob.sub01 .sub_sec03 .box_form .grp_btn button+button::before{width: 28px;height: 25px;background-size: contain;}
.mob.sub01 .sub_sec03 .box_form ul{margin-top: 51px;width: 100%;}
.mob.sub01 .sub_sec03 .box_form ul li{flex-direction: column;align-items: flex-start;}
.mob.sub01 .sub_sec03 .box_form ul li .tit{width: auto;font-size: 20px;margin-bottom: 10px;}
.mob.sub01 .sub_sec03 .box_form ul li + li{margin-top: 20px;}
.mob.sub01 .sub_sec03 .box_form ul li select,
.mob.sub01 .sub_sec03 .box_form ul li input,
.mob.sub01 .sub_sec03 .box_form ul li textarea{padding: 0 10px;font-size: 14px; -webkit-appearance: none;appearance: none;}
.mob.sub01 .sub_sec03 .box_form ul li select{height: 55px;background-size: 12px;}
.mob.sub01 .sub_sec03 .box_form ul li input{height: 55px;}
.mob.sub01 .sub_sec03 .box_form ul li textarea{padding: 10px;}
.mob.sub01 .sub_sec03 .box_form ul li:last-child{align-items: center;}
.mob.sub01 .sub_sec03 .box_form .grp_check{padding-left: 0;}
.mob.sub01 .sub_sec03 .box_form .grp_check label:before{width: 24px;height: 24px;border-radius: 4px;margin-right: 8px;}
.mob.sub01 .sub_sec03 .box_form .grp_check label:after{left: 3px;margin-top: -7px;width: 14px;height: 6px;}
.mob.sub01 .sub_sec03 .box_form .grp_check label{font-size: 20px;}
.mob.sub01 .sub_sec03 .box_form .grp_check label a{font-size: 16px;}
.mob.sub01 .sub_sec03 .btn_sec03{margin: 43px auto 0;font-size: 40px;padding-right: 28px;}
.mob.sub01 .sub_sec03 .btn_sec03::after{width: 20px;height: 20px;top:-7px}

.mob.sub01 .sub_sec04 {margin-top: 108px;}
.mob.sub01 .sub_sec04 ul li{height: 410px;padding: 0;}
.mob.sub01 .sub_sec04 ul li p{font-size: 16px;line-height: 25px;}
.mob.sub01 .sub_sec04 ul li p.tit{font-size: 20px;margin-bottom: 34px;}
.mob.sub01 .sub_sec04 ul li:nth-child(1){padding: 45px 0 0;background-size: 194px;background-position: right 20px bottom -2px;}
.mob.sub01 .sub_sec04 ul li:nth-child(2){padding: 45px 0 0;background-size: 194px;background-position: left 20px bottom -2px;}

.mob.sub01 .sub_sec05 {margin-top: 80px;}
.mob.sub01 .sub_sec05 p{font-size: 16; line-height: 25px;font-weight: 600;margin-top: 42px;}
.mob.sub01 .sub_sec05 .box_system{margin-top: 57px;width: 100%;height: auto;background-size: contain;padding:5%}
.mob.sub01 .sub_sec05 .box_system img{width: 100%;}

.mob.sub01 .sub_sec06{margin-top: 100px;padding: 60px 0 0;border: 0;}
.mob.sub01 .sub_sec06 ul{display: grid;grid-template-columns: 1fr 1fr;margin-top: 40px;gap: 20px;}
.mob.sub01 .sub_sec06 ul li{background-size: 92px;padding-top: 110px;font-size: 16px;}
.mob.sub01 .sub_sec06 ul li:nth-child(3),
.mob.sub01 .sub_sec06 ul li:nth-child(4){margin-top: 30px;}

.mob.sub01 .sub_sec07{padding-top: 74px;}
.mob.sub01 .sub_sec07 img{width: 285px;margin-top: 60px;}

.mob.sub01 .sub_sec08{padding-bottom: 150px;}
.mob.sub01 .sub_sec08 .mySwiper02{margin-top: 30px;height: auto;}
.mob.sub01 .sub_sec08 .mySwiper02 .swiper-wrapper{height: auto;}
.mob.sub01 .sub_sec08 .swiper-pagination02{color:#8E8E8E}
.mob.sub01 .sub_sec08 .swiper-pagination02 .swiper-pagination-current{color:#C7DA01}
.mob.sub01 .sub_sec08 .swiper-button-next{color:#C7DA01;top:auto;bottom: 0;height: auto;right: 32%;}
.mob.sub01 .sub_sec08 .swiper-button-prev{color:#C7DA01;top:auto;bottom: 0;height: auto;left:32%}
.mob.sub01 .sub_sec08 .swiper-button-next::after,
.mob.sub01 .sub_sec08 .swiper-button-prev::after{font-size: 16px;}

.lime.type2:has(.mob){background-size: 100% 887px;background-position: top left;}
.lime.type2 .mob.sub02 header.change h1 a{background: url(../images/logo.png) no-repeat center;background-size: contain;}
.mob.sub02 header .nav a{color:#000}

.mob.sub02 .sub_sec01{padding: 60px 0;border-bottom-width: 2px;}
.mob.sub02 .sub_sec01 .txt_main{font-size: 36px;}
.mob.sub02 .sub_sec01 .txt_sub{font-size: 24px;margin: 24px 0 76px;}
.mob.sub02 .sub_sec01 .txt_sub + p{font-size: 14px;line-height: 27px}
.mob.sub02 .sub_sec01 .sec_inner+.sec_inner{margin-top: 139px;border:0;padding-top: 0;}
.mob.sub02 .sub_sec01 .sec_inner+.sec_inner::before{width: 658px;right:-22px;}
.mob.sub02 .sub_sec01 .sec_inner+.sec_inner p{font-size: 16px;line-height: 27px;}
.mob.sub02 .sub_sec01 .sec_inner+.sec_inner p + p{margin-top: 314px;}
.mob.sub02 .sub_sec01 .sec_inner+.sec_inner img{width: 100%;margin-top: 65px;}
.mob.sub02 .sub_sec01 .sec_inner+.sec_inner img + p{margin-top: 30px;font-size: 24px;line-height: 33px;}

.mob.sub02 .sub_sec02{padding: 66px 0 83px;border-bottom-width: 2px;}
.mob.sub02 .mySwiper03{width: 100%;height: 263px;margin-top: 40px;}
.mob.sub02 .mySwiper03 .swiper-slide img{width: 50%;margin: 0;}
.mob.sub02 .mySwiper03 .swiper-slide p{font-size: 14px;margin: 0;}
.mob.sub02 .mySwiper03 .swiper-slide p.tit{font-size: 20px}
.mob.sub02 .mySwiper03 .swiper-pagination03{bottom: 10px;}
.mob.sub02 .swiper-pagination-bullet{width: 10px;height: 10px;margin: 0 4px !important;}

.mob.sub02 .sub_sec03{padding: 66px 0 88px;border-bottom-width: 2px;background-size: 334px;background-position: top 150px center;}
.mob.sub02 .sub_sec03 p{font-size: 16px;line-height: 27px;text-align: center;margin-bottom: 0;}
.mob.sub02 .sub_sec03 .txt_main{font-size: 20px;margin: 440px 0 20px;}

.mob.sub02 .sub_sec04{padding-top: 66px;}
.mob.sub02 .sub_sec04 .txt_main{margin-top: 40px;font-size: 20px;line-height: 33px;}
.mob.sub02 .sub_sec04 ul{margin-top: 47px;}
.mob.sub02 .sub_sec04 ul li{height: 450px;padding: 40px 20px;}
.mob.sub02 .sub_sec04 ul li p{font-size: 16px;line-height: 25px;}
.mob.sub02 .sub_sec04 ul li p.tit{font-size: 48px;margin-bottom: 19px;}
.mob.sub02 .sub_sec04 ul li:nth-child(1){background-size: 261px;background-position: bottom -1px center;}
.mob.sub02 .sub_sec04 ul li:nth-child(2){background-size: 214px;background-position: bottom -1px center;}
.mob.sub02 .sub_sec04 ul li:nth-child(3){background-size: 241px;background-position: bottom -1px center;}
.mob.sub02 .sub_sec04 ul li:nth-child(4){background-size: 321px;background-position: bottom -1px center;border-bottom: 0;}

.mob.sub03.wrap .nav a{color:#000}
.mob.sub03 .sec06{padding-top: 0;}
.mob.sub03 .sec06 .sec_inner{padding: 0;}
.mob.sub03 .sec06 .box_map{margin-top: 38px;flex-direction: column;}
.mob.sub03 .sec06 .box_map .left{padding: 60px 20px;}
.mob.sub03 .sec06 .box_map .left h2{font-size: 24px;margin-bottom: 40px;}
.mob.sub03 .sec06 .box_map .left ul li{background-size: 20px;padding-left: 34px;}
.mob.sub03 .sec06 .box_map .left ul li .txt{font-size: 14px;}
.mob.sub03 .sec06 .box_map .left ul li .tit{font-size: 20px;}
.mob.sub03 .sec06 .box_map .left ul li:nth-child(2){background: url(../images/sub03_ico_map02.png) top 34px left no-repeat, url(../images/sub03_ico_map03.png) top 82px left no-repeat;background-size: 20px;}
.mob.sub03 .sec06 .box_map .left ul li:nth-child(3){background-position: top 4px left;}
.mob.sub03 .sec06 .box_map .left ul li:nth-child(4){background-position: top 6px left;}
.mob.sub03 .sec06 .box_map .grp_map img{width: 100%;}
.mob.sub03 .sec06 .box_form{padding: 0 20px;}